cropped_objects/
dataset_for_demo/
origin_dataset/
crossmodal-3600/
results/
txt_img_search_clip/
open_Images/
captions_0917.csv
captions_0924.csv
captions_final.csv
image-1.png
image.png
Note.md
test_vlm.py
RLHF_usage.py
soft_pompt_rlhf.py
app.py

